<div class="span4">
    <span>
        <strong>
            <%= artist.artist %>
        </strong>
    </span>
</div>

<div class="span8">
    <div class="btn-group">
        <button class="btn btn-small add-artist-to-playlist" href=""><i class="icon-plus"></i> Add</button>
        <button class="btn btn-small artist-link" href=""><i class="icon-arrow-right"></i> Albums</button>
        <button class="btn btn-small go-to-tracks" href=""><i class="icon-arrow-right"></i> Tracks</button>
    </div>
</div>
