<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width">

        <link rel="stylesheet" href="/static/styles/bootstrap.min.css">
        <link rel="stylesheet" href="/static/styles/bootstrap-responsive.min.css">
        <link rel="stylesheet" href="/static/styles/main.css">
        <link rel="stylesheet" href="/static/styles/midnight.black/jplayer.midnight.black.css">

        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
        <script src="/static/scripts/vendor/modernizr-2.6.2-respond-1.1.0.min.js"></script>
        <script src="/static/scripts/vendor/jquery-ui-1.9.2.custom.min.js" type="text/javascript" charset="utf-8"></script>
        <script src="/static/scripts/vendor/underscore-min.js"></script>
        <script src="/static/scripts/vendor/backbone-min.js"></script>
        <script src="/static/scripts/vendor/jquery.jplayer.min.js"></script>
        <script src="/static/scripts/vendor/jplayer.playlist.min.js"></script>

        <!-- TEMPLATES -->
        <script type="text/html" id="template-app">
            {% include "app.html" %}
        </script>
        <script type="text/html" id="template-track">
            {% include "track.html" %}
        </script>
        <script type="text/html" id="template-album">
            {% include "album.html" %}
        </script>
        <script type="text/html" id="template-artist">
            {% include "artist.html" %}
        </script>
        <!-- END Templates -->
    </head>
    <body id="app">
        <!--[if lt IE 7]>
            <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
        <![endif]-->

        <div class="navbar">
            <!-- jPlayer -->
            {% include "player.html" %}
            <!-- End jPlayer -->
        </div>

        <div class="container-fluid">
            <div class="alert" id="messages">
              <button type="button" class="close" data-dismiss="alert">&times;</button>
              <span id="message-content"></span>
            </div>

            <div class="row-fluid">
                <div class="span9">
                    <div class="span4">
                        <form class="form-search">
                            <input placeholder="Search" type="search" class="input-medium search-query" id="searchText">
                            <button id="searchAction"><i class="icon-search"></i> Search</button>
                        </form>
                    </div>
                    <div class="span1 menu-button" data-name="track"><a href="#!/"><i class="icon-music"></i></a></div>
                    <div class="span1 menu-button" data-name="album"><a href="#!/albums"><i class="icon-headphones"></i></a></div>
                    <div class="span1 menu-button" data-name="artist"><a href="#!/artists"><i class="icon-user"></i></a></div>
                    <div class="span1 menu-button" data-name="playlist"><a href="#" id="hide_playlist"><i class="icon-list-alt"></i></a></div>
                    <div class="span1 menu-button" data-name="clear"><a href="#" id="clear_playlist"><i class="icon-remove"></i></a></div>
                    <div class="span1 menu-button" data-name="update"><a href="#" id="update_db"><i class="icon-refresh"></i></a></div>
                </div>
            </div>

            <div class="row-fluid">
                <div class="span12">
                    <div id="track-list-app"></div>
                </div>
            </div>

            <hr />

            <footer>
                <a href="https://github.com/javaguirre/gramophone">Gramophone</a> is Free Software. <a href="https://github.com/javaguirre/gramophone/issues?state=open">Suggestions?</a>
            </footer>

        </div> <!-- /container -->

        <script src="/static/scripts/vendor/bootstrap.min.js"></script>
        <script src="/static/scripts/utils.js"></script>
        <script src="/static/scripts/models/album.js"></script>
        <script src="/static/scripts/models/artist.js"></script>
        <script src="/static/scripts/models/track.js"></script>
        <script src="/static/scripts/collections/generic.js"></script>
        <script src="/static/scripts/collections/album.js"></script>
        <script src="/static/scripts/collections/artist.js"></script>
        <script src="/static/scripts/collections/track.js"></script>
        <script src="/static/scripts/views/album.js"></script>
        <script src="/static/scripts/views/artist.js"></script>
        <script src="/static/scripts/views/track.js"></script>
        <script src="/static/scripts/views/app.js"></script>
        <script src="/static/scripts/routers/router.js"></script>
        <script src="/static/scripts/app.js"></script>
    </body>
</html>
