<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width">

        <link rel="stylesheet" href="styles/bootstrap.min.css">
        <link rel="stylesheet" href="styles/bootstrap-responsive.min.css">
        <link rel="stylesheet" href="styles/main.css">

        <script src="scripts/vendor/modernizr-2.6.2-respond-1.1.0.min.js"></script>
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
        <script src="scripts/vendor/jquery-ui-1.9.2.custom.min.js" type="text/javascript" charset="utf-8"></script>
        <script src="scripts/underscore-min.js"></script>
        <script src="scripts/backbone-min.js"></script>
        <script src="scripts/template.js"></script>
        <script src="audiojs/audiojs/audio.js"></script>
        <script>
          $(function() {
            // Setup the player to autoplay the next track
            var a = audiojs.createAll({
              trackEnded: function() {
                var next = $('ol li.playing').next();
                if (!next.length) next = $('ol li').first();
                next.addClass('playing').siblings().removeClass('playing');
                audio.load($('a', next).attr('data-src'));
                audio.play();
              }
            });

            // Load in the first track
            var audio = a[0];
                first = $('ol a').attr('data-src');
            $('ol li').first().addClass('playing');
            audio.load(first);

            // Load in a track on click
            $('ol li').live('click', function(e) {
              e.preventDefault();
              $(this).addClass('playing').siblings().removeClass('playing');
              audio.load($('a', this).attr('data-src'));
              audio.play();
            });

            // Keyboard shortcuts
            $(document).keydown(function(e) {
              var unicode = e.charCode ? e.charCode : e.keyCode;
                 // right arrow
              if (unicode == 39) {
                var next = $('li.playing').next();
                if (!next.length) next = $('ol li').first();
                next.click();
                // back arrow
              } else if (unicode == 37) {
                var prev = $('li.playing').prev();
                if (!prev.length) prev = $('ol li').last();
                prev.click();
                // spacebar
              } else if (unicode == 32) {
                audio.playPause();
              }
            })
          });
        </script>
    </head>
    <body>
        <!--[if lt IE 7]>
            <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
        <![endif]-->

        <!-- This code is taken from http://twitter.github.com/bootstrap/examples/hero.html -->

        <div class="navbar navbar-fixed-top">
            <div class="navbar-inner">
                <div class="container">
                    <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </a>
                    <a class="brand" href="/">Gramophone</a>
                    <div class="nav-collapse collapse">
                        <ul class="nav">
                        </ul>
                    </div><!--/.nav-collapse -->
                </div>
            </div>
        </div>

        <div class="container-fluid">
            <div class="row-fluid">
                <div id="wrapper">
                  <audio></audio>
                  <ol>
                      <li class="playing"><a data-src="/music/03-Traffic Man.mp3">Traffic Man</a></li>
                  </ol>
                </div>
                <div class="span9">
                    <ul>
                        <li><a href="#!/">Tracks</a></li>
                        <li><a href="#!/albums">Albums</a></li>
                        <li><a href="#!/artists">Artists</a></li>
                    </ul>
                    <form class="navbar-form form-search" action="">
                        <input type="text" class="input-medium search-query">
                        <button type="submit" class="btn">Search</button>
                    </form>
                </div>
                <div class="hero-unit span9">
                    <ul class="nav nav-list" id="app">
                </div>
            </div>

            <hr />

            <footer>
                <p>Gramophone</p>
            </footer>

        </div> <!-- /container -->
        <script src="scripts/vendor/bootstrap.min.js"></script>
        <script src="scripts/app.js"></script>
        <script type="text/javascript" charset="utf-8">
            $(function() {
                window.router = new MyRouter();
                Backbone.history.start();
            });
        </script>
    </body>
</html>
