body {
    padding-bottom: 40px;
    color: #666; font-family: sans-serif; line-height: 1.4;
    background-color: #f0e9c3;
    font-family: 'Dosis', sans-serif;
}

a {
    color: #005580;
}

.music-item {
    background-color: #fff;
    border: 1px solid #e9e9e9;
    padding: 5px;
}

.menu-button {
    padding-top: 3px;
    background-color: #fff;
    text-align: center;
}

.menu-button.selected {
    border-bottom: 2px solid #000;
}

#track-list {
    font-size: 1.15em;
}

small {
    font-weight: 90%;
}
